In [1]:
import fireducks.pandas as pd
import time

# Reading data

In [2]:
# Creating variable to save the execution time of each task
results = {}

In [ ]:
start = time.perf_counter()

df_1billion = pd.read_parquet("/home/henriquehashimoto/git/one_billion_rows_challenge/data/measurements.parquet")

results["leitura"] = time.perf_counter() - start

df_1billion.head()

,station,temperature
0,Agutaya,-15.008409
1,Azzano Decimo,48.072330
2,Petrel,-24.444458
3,Bhāndāria,-6.560163
4,Canoinhas,43.217560

In [5]:
df_1billion.count()

station        500000000
temperature    500000000
dtype: int64

In [4]:
results

{'leitura': 0.15049502799956826}