In [1]:
import fireducks.pandas as pd
import time

# Reading data

In [2]:
# Creating variable to save the execution time of each task
results = {}

In [3]:
start = time.perf_counter()

df_1billion = pd.read_parquet("/home/henriquehashimoto/git/one_billion_rows_challenge/data/measurements.parquet")
df_1billion_2 = pd.read_parquet("/home/henriquehashimoto/git/one_billion_rows_challenge/data/measurements_2.parquet")


results["leitura"] = time.perf_counter() - start

df_1billion.head()

,station,temperature
0,Agutaya,-15.008409
1,Azzano Decimo,48.072330
2,Petrel,-24.444458
3,Bhāndāria,-6.560163
4,Canoinhas,43.217560

In [4]:
df_1billion_2.count()

:

In [5]:
results

{'leitura': 0.22489357900008144}